.sidebar {
    flex: 1;
    border-right: 2px solid rgb(0, 0, 0);
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.top {
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 146, 167);
    padding-right: 12px;
}

hr {
    height: 0;
    border: 0.5px solid rgb(0, 0, 0);
}

.center {

    padding-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.title {
    font-size: 13px;
    font-weight: bold;
    color: rgb(123, 123, 123);
    margin-top: 15px;
    margin-bottom: 5px;
}

li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgb(188, 222, 233);

    }
}
.icon{
    font-size: 18px;
    color: blueviolet;
}
span{
    font-size: 13px;
    font-weight: 600;
    color: blueviolet;
    margin-left: 10px;
}